@import url("styles.css");

#product-details-section{
    padding-top: 20px;
}

.dsc-product-details-top{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.dsc-product-details-top img{
    width: 220px;
    
}

.dsc-product-details-bottom{
    /* padding: 10px 20px 20px 20px; */
    padding: 10px 20px;
}

.dsc-product-details-bottom h3{
    color: var(--dsc-color-font-secondary);
    font-size: 20px;
}

.dsc-product-details-bottom h4{
    color: var(--dsc-color-font-primary);
    font-size: 12px;
}

.dsc-product-details-bottom p{
    margin: 10px 0;
    color: var(--dsc-color-font-primary);
    font-size: 12px;
}
.dsc-category-container{
    display: flex;
    /* justify-content: left; */
    /* mobile responsive  */
    flex-wrap: wrap;
}

.dsc-category{
    background-color: var(--dsc-color-bg-tertiary);
    border-radius: 4px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: var(--dsc-color-font-tertiary);
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* mobile responsive */
    margin-bottom: 10px;
}
